PORT=3000
WORDPRESS_LOGIN_URL=https://example.com/wp-login.php
WORDPRESS_TARGET_URL=https://drakorid.fun/wp-admin/post-new.php?post_type=episode
WORDPRESS_TV_TARGET_URL=https://example.com/wp-admin/post-new.php?post_type=tv
WORDPRESS_USERNAME=your-username
WORDPRESS_PASSWORD=your-password
