PORT=3000
WORDPRESS_LOGIN_URL=https://example.com/wp-login.php
WORDPRESS_TARGET_URL=https://drakorid.fun/wp-admin/post-new.php?post_type=episode
WORDPRESS_TV_TARGET_URL=https://example.com/wp-admin/post-new.php?post_type=tv
WORDPRESS_TV_SITEMAP_URL=https://drakorid.fun/tv-sitemap.xml
WORDPRESS_EPISODE_SITEMAP_URL=https://drakorid.fun/episode-sitemap.xml
WORDPRESS_INDEX_DB_PATH=./data/wordpress-index.sqlite
WORDPRESS_USERNAME=your-username
WORDPRESS_PASSWORD=your-password
TMDB_API_BASE_URL=https://api.themoviedb.org/3
TMDB_API_KEY=your-tmdb-api-key
TMDB_IMAGE_BASE_URL=https://image.tmdb.org/t/p/w500
TMDB_LANGUAGE=en-US
